root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

csharp_new_line_before_open_brace = all
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

[*.{csproj,props,targets,json,jsonc,yml,yaml,md,vue,ts,css,html}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.slnx]
indent_style = space
indent_size = 2
